@font-face {
  font-family: 'neodgm';
  src: url('./font/neodgm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
h1,
p {
  margin: 0;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
}

div {
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'neodgm';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  overflow: hidden;
}

.main-container {
  width: 50%;
  /* background-color: red; */
  margin: 150px auto 0 auto;
}

.main-title-wrapper {
  margin: 150px auto 0 auto;
  width: 50%;
  font-size: 38px;
  word-spacing: -20px;
}

.main-generator-container {
  margin: 80px auto 0 auto;
  width: 50%;
}

.main-generator-container div {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: flex-end; */
}

.main-generator-container input {
  padding: 20px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
}

.main-generator-container input:focus {
  outline: none;
}

.btn {
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 5px;
}

.generateBtn {
  /* border: 2px solid black; */
  background-color: white;
  margin-left: 5%;
}

.main-result-container {
  margin: 50px auto 0 auto;
  width: 550px;
  min-height: 150px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

/* .result-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
} */

.result-wrapper p {
  font-size: 40px;
}

.tweetBtn {
  position: absolute;
  bottom: 15px;
  right: 0;
  display: block;
  font-size: 25px;
  padding-right: 30px;
}
