@font-face {
  font-family: 'neodgm';
  src: url('./font/neodgm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
h1 {
  margin: 0;
}

body {
  line-height: 1;
}

div {
  box-sizing: border-box;
}

.page-wrapper {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  font-family: 'neodgm';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}

.main-container {
  width: 50%;
  /* background-color: red; */
  margin: 150px auto 0 auto;
}

.main-title-wrapper {
  font-size: 48px;
  word-spacing: -20px;
}
