@font-face {
  font-family: 'neodgm';
  src: url('./font/neodgm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
h1,
p {
  margin: 0;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
}

div {
  box-sizing: border-box;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'neodgm';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  overflow: hidden;
}

.title-generator-container {
  margin: 280px auto 0 auto;
  width: 50%;
  transition: margin 0.8s;
}

.slide-up {
  margin: 150px auto 0 auto;
}

.title {
  font-size: 70px;
  word-spacing: -20px;
}

.main-generator-container {
  margin-top: 50px;
}

.main-generator-container div {
  display: flex;
  justify-content: center;
}

.main-generator-container input {
  padding: 18px;
  border-radius: 5px;
  border: 0;
  font-size: 15px;
}

.main-generator-container input:focus {
  outline: none;
}

.btn {
  border: 0;
  outline: 0;
  padding: 18px;
  border-radius: 5px;
  font-family: 'neodgm';
  cursor: pointer;
}

.generateBtn {
  background-color: white;
  margin-left: 5%;
  transition: all 0.4s;
}

@media (hover: hover) {
  .generateBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}

.result-wrapper {
  margin: 50px auto 0 auto;
  width: 550px;
  min-height: 150px;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  position: relative;
  transition: background 0.8s;
}

.background-opacity {
  background: rgba(0, 0, 0, 0.5);
}

.result-wrapper p:first-child {
  margin-top: 10px;
}

.result-wrapper p {
  font-size: 40px;
}

.tweetBtn-wrapper {
  display: inline-block;
  margin-top: 40px;
  position: relative;
  cursor: pointer;
}

@media (hover: hover) {
  .tweetBtn-wrapper:hover .tweetBtn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 0.4s;
  }

  .tweetBtn-wrapper:hover .tweetBtnText {
    color: white;
    transition: 0.4s;
  }
}

.tweetBtn {
  font-size: 15px;
  color: black;
  padding: 8px;
  padding-right: 50px;
  background-color: white;
  border-radius: 5px;
}

.tweetBtnText {
  font-size: 15px;
  display: block;
  color: black;
  position: absolute;
  top: 8px;
  left: 28px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 50px;
  }
  .result-wrapper {
    width: 400px;
    min-height: 130px;
  }
  .result-wrapper p {
    font-size: 30px;
  }
  .title-generator-container {
    min-width: 380px;
  }
  .generateBtn:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .tweetBtn-wrapper:active .tweetBtn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 0.4s;
  }

  .tweetBtn-wrapper:active .tweetBtnText {
    color: white;
    transition: 0.4s;
  }
}
